<!doctype html>

<html lang="en">
<head>
    <title>About us</title>
     <link rel="stylesheet" href="mainstyle.css" type= "test/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="well" style="background-color: #b3b5b7;">
    <div class="container">
           <div class="well"><div class="panel-body"> <div class="panel-heading text-center"><header><h1>What is CloseCall?</h1></header></div>
            Motor vehicle accidents can happen to anyone at any time or place. It is impossible to predict when or where an accident will happen. The
    best we can do is to prepare to deal with the situation. A typical timeline for an accident may occur as follows: a drunk driver crashes into a tree late at night,
    A witness calls 911 to report the accident (if there is a witness). 911 directs contact to appropriate services such as emergency medical vehicles. Often times in
    intense accident situations, the amount of time required for first responders to reach the scene is indicative of the victim's survival. CloseCall is a service
    that aims to reduce the time needed to get help to victims by cutting out the 3rd-party witness. By directly detecting when an accident has occurred and then
     informing the appropriate medical services, we hope to make an accident a close call rather than an end all.
    </div></div></div>
        <div class="container">
        <div class="panel panel-default">
        <div class="panel-body"> <div class="panel-heading text-center"><h2>Team Members</h2></div></div>
  <table class="table table-dark">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src= "https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/29425855_798114417050107_8630424563086110921_n.jpg?_nc_cat=0&oh=1619e7e0b2c9197e9a5d364a91fbb70e&oe=5B739599" height= "160" width= "160" alt = "Matt Nuyen"></td>
        <td>Android Studio</td>
      </tr>
      <tr>
         <td>
            <img src= "https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/18620991_1688381214524217_4387963871918210613_o.jpg?_nc_cat=0&oh=ef6e73be867eaedc528eff3567b4eb9e&oe=5B64B414" height= "160" width= "160" alt = "Benny Cheng"></td>
        <td>esri integration</td>
      </tr>
      <tr>
         <td>
            <img src= "https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/19554079_1403916976323587_2356402705515456739_n.jpg?_nc_cat=0&oh=955e0d936f431ed0477f6e684493126b&oe=5B2FB164" height= "160" width= "160" alt = "Sahana Rao"></td>
        <td>AWS</td>
      </tr>
       <tr>
         <td>
            <img src= "https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/29468935_1523670451092965_3158303681422557184_o.jpg?_nc_cat=0&oh=ec60a2e9b93083db3c3ffa070df07eae&oe=5B3428FD" height= "180" width= "160" alt = "Akshaya Anand"></td>
        <td>Webpage</td>
      </tr>
    </tbody>
  </table>
    </div>
</body>
</html>
