<!DOCTYPE html>

<div>
    <button type="button" id="driveBtn">Drive</button>
    <button type="button" id="crashBtn">Crash</button>
</div>


<script>
$("#driveBtn").on("click", function(){
    
});


</script>
